{# templates/payment/confirmation.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Pago</title>
</head>
<body>
    <h1>Pago exitoso</h1>
    <p>La transacción con ID {{ preference_id }} ha sido confirmada.</p>
</body>
</html>