<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Espacio M | Prof. Marcela Menez</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/transicionfotos.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" onload="interval()">
			
	<!-- Header -->
		<header id="header">
			
		</header>
	
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="{{ path('index') }}">Yoga | Home</a></li>
				<li><a href="{{ path('pagos') }}">Pagos</a></li>
				<li><a href="generic.html">Videos gratis</a></li>
				<li><a href="{{ path('contacto') }}">Contacto</a></li>
			</ul>
			<ul class="icons">
				<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="https://www.facebook.com/marcela.menez/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/marcela.menez/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>

	<!-- Principal -->
		<div id="main">
			<article class="post featured">
				<header class="major">
					<span class="date">2023</span>
					<h2><a href="#">Clases <br />Presenciales</a></h2>
					<p>Espacio de Yoga de Prof. Marcela Menez</p>
				</header>
				<section class="slider image main">
					<div class="slide">
						<img src="images/foto1.JPG" alt="">
					</div>
					<div class="slide">
						<img src="images/foto2.JPG" alt="">
					</div>
				</section>
			</article>
		</div>

	<!-- Footer -->
		<footer id="footer"></footer>
		<div id="copyright">
			<ul>li>&copy; Creado por Juan Zorrilla Menez </li><li>2023</li>
		</div>

</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/fotos.js"></script>
	</body>
</html>
